.App {
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  color: #78909c;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(127, 221, 250) 50%, rgb(251, 98, 200) 50%);
}